@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    outline: none;
}
body {
    background-color: #000;
    min-height: 100vh;
}

@layer utilities {
    /* global  utilities */
    .max-screen-width {
        @apply max-w-screen-xl mx-auto flex items-center gap-4 px-4 py-2;
    }
    
    .flex-center {
        @apply flex items-center justify-center;
    }
    .flex-between {
        @apply flex justify-between items-center;
    }

    /* Header utilities classes*/
    .header {
        @apply bg-black fixed top-0 w-full z-10;
    }

}